<li class="list-group-item">
    <span class="article-date"> {{ article.meta.createdTime | slice(5, 10) }} </span>
    <span class="article-item-title">
        <a class="article-title-link" href="{{ article.meta.slug }}">
            {{ article.meta.title }}
        </a>
      </span>
</li>
