{% extends "base.html" %}

{% block title %} {{ article.meta.title }} {% endblock %}

{% block main %}

<div>
    <h1 class="article-title">{{ article.meta.title }}</h1>
    <div class="article-meta">
        创建于 <span class="article-date">{{ article.meta.createdTime }}</span>
        <span id="stats" class="article-category"></span>
    </div>
</div>

<div class="article-body">
    {{ article.body }}
</div>

<div class="article-tag">
    {% for tag in article.meta.tags %}
    <a href="/tags/{{ tag | normalize }}">#{{ tag }}</a>
    {% endfor %}
</div>

{% include "stats.html" %}

{% endblock %}
