<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ config.siteName }}</title>
    <link href="{{ config.siteUrl }}" rel="alternate"></link>
    <link href="{{ config.siteUrl }}/atom.xml" rel="self"></link>
    <id>{{ settings.SITE }}</id>
    <updated>{{ timestamp }}</updated>
    {% for article in article_list %}
    <entry>
        <title>{{ article.meta.title }}</title>
        <link href="{{ config.siteUrl }}{{ article.meta.slug }}" rel="alternate"></link>
        <updated>{{ article.meta.createdTime }}</updated>
        <author>
            <name>{{ config.author }}</name>
        </author>
        <id>{{ article.meta.slug }}</id>
        <summary type="html">
            {{ article.body }}
        </summary>
        {% for tag in article.meta.tags %}
        <category term="{{ tag }}"></category>
        {% endfor %}
    </entry>
    {% endfor %}
</feed>