<div class="footer">
    <p>
        &copy; Copyright 2014 - 2018 by <a href="{{ config.sizeUrl }}">{{ config.author }}</a>.
    </p>

    <p>
        Powered by <a href="https://bitbucket.org/soliloquize/plasma-java">plasma-java</a>.
    </p>
</div>