<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">首页</a></li>
            <li role="presentation"><a href="/tags">标签</a></li>
            <li role="presentation"><a href="/atom.xml">订阅</a></li>
            <li role="presentation"><a href="/pages/about.html">关于</a></li>
        </ul>
    </nav>
    <h3 class="text-muted"><a href="/">{{ config.siteName }}</a></h3>
</div>
