{% extends "base.html" %}

{% block main %}

<div class="article-list">
    {% set year = "" %}
    {% for article in article_list %}
        {% set current_year = article.meta.createdTime | slice(0, 4) %}
        {% if year != current_year %}
            {% set year = current_year %}
            <h2 class="collection-name">{{ year }}</h2>
        {% endif %}
        {% include "article_list_item.html" %}
    {% endfor %}
</div>

{% include "pagination.html" %}

{% endblock %}
