<nav id="pagination">
    <ul class="pagination">
        {% if page_info.page > 1 %}
        <li>
            <a class="pagination-pre" href="{{ page_info.baseUrl + (page_info.page - 1) }}">
                <span aria-hidden="true"> &laquo; </span>
            </a>
        </li>
        {% endif %}

        {% set skip = false %}
        {% for idx in pages %}
            {% if idx == page_info.page %}
                <li class="active">
                    <a href="#">{{ idx }} <span class="sr-only">(current)</span></a>
                </li>
                {% set skip = false %}
            {% elseif idx == 1 or idx == page_info.total or idx == page_info.page - 1 or idx == page_info.page + 1 %}
                <li>
                    <a class="pagination-indicator" href="{{ page_info.baseUrl + idx }}">
                        {{ idx }}
                    </a>
                </li>
                {% set skip = false %}
            {% else %}
                {% if not skip %}
                {% endif %}
                {% set skip = true %}
            {% endif %}
        {% endfor %}

        {% if page_info.page < page_info.total %}
            <li>
                <a class="pagination-next" href="{{ page_info.baseUrl + (page_info.page + 1) }}">
                    <span aria-hidden="true"> &raquo; </span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
