{% extends "base.html" %}

{% block main %}

<div class="tag-cloud">
    {% for tag in tag_list %}
    <a href="{{ tag.url }}" style="font-size: {{ tag.size }}px">{{ tag.name }}</a>
    {% endfor %}
</div>

{% endblock %}
