<!DOCTYPE html>
<html lang="zh">
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% block title %} {{ config.siteName }} {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/github-gist.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pygments-manni.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css"/>
    <script src="/static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/static/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    {% include "analyse.html" %}
    {% endblock %}
<body>
<div>
    <div id="main" class="main">
        {% block main %}
        {% endblock %}
    </div>
</div>

<script>
    $('table').attr('class', 'table table-bordered table-striped table-hover');
    $('img').attr('class', 'img-thumbnail center-block');
</script>
</body>